Repository CDCgov/covid19-forecast-hub, changes with the labels that .github/labeler.yml gives for each.
All labels: data-submission, model-metadata, documentation, configuration

remove path filtering in hub submission validations
  .github/workflows/validate-submission.yaml
Labels: none

remove path filtering in hub submission validations
  .github/workflows/validate-submission.yaml
Labels: none

add files from sandbox
  .github/workflows/merge-validated-pr.yaml
  .github/workflows/update-authorized-users.yaml
  src/code/get_authorized_users.r
Labels: none

add designated users (#28)
  hub-config/model-metadata-schema.json
  model-metadata/README.md
Labels: documentation, configuration

add designated users (#28)
  hub-config/model-metadata-schema.json
  model-metadata/README.md
Labels: documentation, configuration

simplify metadata extraction
  src/code/get_authorized_users.r
Labels: none

prevent auto merge if PR includes any changes outside the model output folder
  .github/workflows/merge-validated-pr.yaml
Labels: none

auto merge validated PRs (#32)
  .github/workflows/merge-validated-pr.yaml
  .github/workflows/update-authorized-users.yaml
  src/code/get_authorized_users.r
Labels: none

auto merge validated PRs (#32)
  .github/workflows/merge-validated-pr.yaml
  .github/workflows/update-authorized-users.yaml
  src/code/get_authorized_users.r
Labels: none

Create baseline and ensemble (#24)
  .github/workflows/create_baseline.yaml
  .github/workflows/create_ensemble.yaml
  .gitignore
  auxiliary-data/exclude_ensemble.json
  src/code/get_baseline.r
  src/code/get_ensemble.r
Labels: none

Create baseline and ensemble (#24)
  .github/workflows/create_baseline.yaml
  .github/workflows/create_ensemble.yaml
  .gitignore
  auxiliary-data/exclude_ensemble.json
  src/code/get_baseline.r
  src/code/get_ensemble.r
Labels: none

Apply suggestions from code review
  model-output/README.md
Labels: documentation

code review suggestion
  model-output/README.md
Labels: documentation

Update README.md
  model-output/README.md
Labels: documentation

update readme to include parquet files and clarification about samples (#29)
  model-output/README.md
Labels: documentation

update readme to include parquet files and clarification about samples (#29)
  model-output/README.md
Labels: documentation

.github/labeler.yml:

data-submission:
  - changed-files:
    - any-glob-to-any-file:
      - 'model-output/**/*.csv'

model-metadata:
  - changed-files:
    - any-glob-to-any-file:
      - model-metadata/**/*.yml
      - model-metadata/**/*.yaml

documentation:
  - changed-files:
    - any-glob-to-any-file: '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - hub-config/*
