Repository CDCgov/covid19-forecast-hub, pull requests merged in 2024-12, with the labels that each got.

#121 update hub models metadata and change extension
  model-metadata/CovidHub-baseline.yaml
  model-metadata/CovidHub-ensemble.yaml
Labels: model-metadata

#118 Data Dictionary Production For Inform Visualization
  src/code/gen_forecast_data.R
  src/code/gen_map_data.R
  src/code/gen_truth_data.R
  weekly-summaries/2024-11-23/2024-11-23_all-forecasts.csv
  weekly-summaries/2024-11-23/2024-11-23_map-data.csv
  weekly-summaries/2024-11-23/2024-11-23_truth-data.csv
  weekly-summaries/README.md
Labels: documentation, enhancement

#130 Update covid forecasts 2024-12-04
  model-output/Metaculus-cp/2024-12-07-Metaculus-cp.csv
Labels: data-submission

#132 2024-12-07-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2024-12-07-OHT_JHU-nbxd.csv
Labels: data-submission

#133 CEPH_2024-12-07
  model-output/CEPH-Rtrend_covid/2024-12-07-CEPH-Rtrend_covid.csv
Labels: data-submission

#135 CMU-TimeSeries
  model-output/CMU-TimeSeries/2024-12-07-CMU-TimeSeries.csv
Labels: data-submission

#136 2024-12-07-UMass-ar6_pooled
  model-output/UMass-ar6_pooled/2024-12-07-UMass-ar6_pooled.csv
Labels: data-submission

#138 2024-12-07-JHU_CSSE-CSSE_Ensemble Submission
  model-output/JHU_CSSE-CSSE_Ensemble/2024-12-07-JHU_CSSE-CSSE_Ensemble.csv
Labels: data-submission

#139 Model preds 12-07
  model-output/UM-DeepOutbreak/2024-12-07-UM-DeepOutbreak.csv
Labels: data-submission

#137 2024-12-07-UMass-gbqr
  model-output/UMass-gbqr/2024-12-07-UMass-gbqr.csv
Labels: data-submission

#142 skip approval step when no designated users provided
  .github/workflows/merge-validated-pr.yaml
Labels: enhancement

#146 Generalize Reference Data Exclusion Logic
  auxiliary-data/2024-11-23-exclude-locations.json
  auxiliary-data/excluded_locations.toml
  src/code/gen_forecast_data.R
  src/code/gen_map_data.R
Labels: enhancement

#147 Consider Use Of `pre-commit`
  .github/workflows/pre-commit.yaml
  .lintr
  .pre-commit-config.yaml
  src/code/gen_forecast_data.R
  src/code/gen_map_data.R
  src/code/gen_truth_data.R
Labels: enhancement

#156 upload NEU_ISI-AdaptiveEnsemble metadata file
  model-metadata/NEU_ISI-AdaptiveEnsemble.yml
Labels: model-metadata

#157 add designated_github_users
  model-metadata/NEU_ISI-AdaptiveEnsemble.yml
Labels: model-metadata

#154 Switch To `argparser` In `gen_forecast_data.R` And `get_map_data.R`
  src/code/gen_forecast_data.R
  src/code/gen_map_data.R
  src/code/gen_truth_data.R
Labels: enhancement

#161 Update covid forecasts 2024-12-11
  model-output/Metaculus-cp/2024-12-14-Metaculus-cp.csv
Labels: data-submission

#168 2024-12-14-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2024-12-14-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#169 2024-12-14-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2024-12-14-OHT_JHU-nbxd.csv
Labels: data-submission

#171 CEPH_2024-12-14
  model-output/CEPH-Rtrend_covid/2024-12-14-CEPH-Rtrend_covid.csv
Labels: data-submission

#172 2024-12-14-UMass-ar6_pooled
  model-output/UMass-ar6_pooled/2024-12-14-UMass-ar6_pooled.csv
Labels: data-submission

#174 2024-12-14-UMass-gbqr
  model-output/UMass-gbqr/2024-12-14-UMass-gbqr.csv
Labels: data-submission

#175 CMU-TimeSeries
  model-output/CMU-TimeSeries/2024-12-14-CMU-TimeSeries.csv
Labels: data-submission

#176 Submission
  model-output/JHU_CSSE-CSSE_Ensemble/2024-12-14-JHU_CSSE-CSSE_Ensemble.csv
Labels: data-submission

#177 Model preds 12-14
  model-metadata/UM-DeepOutbreak.yml
  model-output/UM-DeepOutbreak/2024-12-14-UM-DeepOutbreak.csv
Labels: model-metadata, data-submission

#159 Change `excluded_territories.json` To `.toml`
  .github/workflows/create_ensemble.yaml
  auxiliary-data/excluded_territories.toml
  src/code/get_covid_hosp_data.R
  src/code/get_ensemble.R
  src/code/get_target_data.R
Labels: enhancement

#183 2024-12-21-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2024-12-21-OHT_JHU-nbxd.csv
Labels: data-submission

#128 Address Inform Feedback Regarding Weekly Summaries Data
  src/get_covid_hosp_data.R
  src/get_forecast_data.R
  src/get_map_data.R
  weekly-summaries/2024-11-23/2024-11-23_all-forecasts.csv
  weekly-summaries/2024-11-23/2024-11-23_covid_forecasts_data.csv
  weekly-summaries/2024-11-23/2024-11-23_covid_map_data.csv
  weekly-summaries/2024-11-23/2024-11-23_covid_target_hospital_admissions_data.csv
  weekly-summaries/2024-11-23/2024-11-23_map-data.csv
  weekly-summaries/README.md
Labels: documentation, user-feedback

#187 Update covid forecasts 2024-12-18
  model-output/Metaculus-cp/2024-12-21-Metaculus-cp.csv
Labels: data-submission

#190 CEPH_2024-12-21
  model-output/CEPH-Rtrend_covid/2024-12-21-CEPH-Rtrend_covid.csv
Labels: data-submission

#192 CMU-TimeSeries
  model-output/CMU-TimeSeries/2024-12-21-CMU-TimeSeries.csv
Labels: data-submission

#193 2024-12-21-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2024-12-21-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#199 Mobs 12/18 Submission
  model-output/MOBS-GLEAM_COVID/2024-12-21-MOBS-GLEAM_COVID.csv
Labels: data-submission

#198 2024-12-21-UMass
  model-output/UMass-ar6_pooled/2024-12-21-UMass-ar6_pooled.csv
  model-output/UMass-gbqr/2024-12-21-UMass-gbqr.csv
Labels: data-submission

#200 Model preds 12-21
  model-output/UM-DeepOutbreak/2024-12-21-UM-DeepOutbreak.csv
Labels: data-submission

#201 2024-12-21-JHU_CSSE-CSSE_Ensemble Submission
  model-output/JHU_CSSE-CSSE_Ensemble/2024-12-21-JHU_CSSE-CSSE_Ensemble.csv
Labels: data-submission

#211 Extend submission window
  hub-config/tasks.json
Labels: configuration

#212 2024-12-28-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2024-12-28-OHT_JHU-nbxd.csv
Labels: data-submission

#213 Update covid forecasts 2024-12-25
  model-output/Metaculus-cp/2024-12-28-Metaculus-cp.csv
Labels: data-submission

#218 2024-12-28-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2024-12-28-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#219 2024-12-28-UMass
  model-output/UMass-ar6_pooled/2024-12-28-UMass-ar6_pooled.csv
  model-output/UMass-gbqr/2024-12-28-UMass-gbqr.csv
Labels: data-submission

#220 Mobs 12/26 submission
  model-output/MOBS-GLEAM_COVID/2024-12-28-MOBS-GLEAM_COVID.csv
Labels: data-submission

#221 cmu-delphi dec 26 forecast
  model-output/CMU-TimeSeries/2024-12-28-CMU-TimeSeries.csv
Labels: data-submission

#223 CEPH_2024-12-28
  model-output/CEPH-Rtrend_covid/2024-12-28-CEPH-Rtrend_covid.csv
Labels: data-submission

#224 Model preds 12-28
  model-output/UM-DeepOutbreak/2024-12-28-UM-DeepOutbreak.csv
Labels: data-submission
