Repository CDCgov/covid19-forecast-hub, pull requests merged in 2024-11, with the labels that each got.

#29 update readme to include parquet files and clarification about samples
  model-output/README.md
Labels: documentation

#48 add metadata for OHT_JHU-nbxd
  model-metadata/OHT_JHU-nbxd.yml
Labels: model-metadata

#47 feat: add CMU-TimeSeries team metadata
  model-metadata/CMU-TimeSeries.yml
Labels: model-metadata

#58 allow non array `designated_github_users` field
  hub-config/model-metadata-schema.json
Labels: configuration

#57 add UMass-gbqr model metadata
  model-metadata/UMass-gbqr.yml
Labels: model-metadata

#59 Add model metadata for UM-DeepOutbreak
  model-metadata/UM-DeepOutbreak.yml
Labels: model-metadata

#66 Fix location of baseline forecast, add model-metadata file for it
  model-metadata/CovidHub-baseline.yaml
  model-output/CovidHub-baseline/2024-11-23-CovidHub-baseline.csv
Labels: model-metadata, data-submission

#65 Add CEPH metadata file
  model-metadata/CEPH-Rtrend_covid.yml
Labels: model-metadata

#69 add metadata for ensemble and change url for baseline
  model-metadata/CovidHub-baseline.yaml
  model-metadata/CovidHub-ensemble.yaml
Labels: model-metadata

#74 2024-11-23-UMass-gbqr
  model-output/UMass-gbqr/2024-11-23-UMass-gbqr.csv
Labels: data-submission

#72 CEPH_2024-11-23
  model-output/CEPH-Rtrend_covid/2024-11-23-CEPH-Rtrend_covid.csv
Labels: data-submission

#75 add metadata and predictions for UMass-ar6_pooled
  model-metadata/UMass-ar6_pooled.yml
  model-output/UMass-ar6_pooled/2024-11-23-UMass-ar6_pooled.csv
Labels: model-metadata, data-submission

#87 Add note on updating the PR branch with main to ensure automerge action runs as expected
  README.md
Labels: documentation

#86 update readme to include links to NHSN data
  README.md
Labels: documentation

#89 Corrected metadata for UM-DeepOutbreak
  model-metadata/UM-DeepOutbreak.yml
Labels: model-metadata

#92 use released version of hubValidations in model-metadata README
  model-metadata/README.md
Labels: documentation

#94 2024-11-30-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2024-11-30-OHT_JHU-nbxd.csv
Labels: data-submission

#100 2024-11-30-UMass-ar6_pooled and 2024-11-30-UMass-gbqr
  model-output/UMass-ar6_pooled/2024-11-30-UMass-ar6_pooled.csv
  model-output/UMass-gbqr/2024-11-30-UMass-gbqr.csv
Labels: data-submission

#102 Add Metaculus-cp.yaml metadata
  model-metadata/Metaculus-cp.yaml
Labels: model-metadata

#101 Update covid forecasts 2024-11-27
  model-output/Metaculus-cp/2024-11-30-Metaculus-cp.csv
Labels: data-submission

#106 Add designated github user to Metaculus-cp.yaml
  model-metadata/Metaculus-cp.yaml
Labels: model-metadata

#109 CEPH_2024-11-30
  model-output/CEPH-Rtrend_covid/2024-11-30-CEPH-Rtrend_covid.csv
Labels: data-submission

#111 add 'designated_github_users'
  model-metadata/JHU_CSSE-CSSE_Ensemble.yml
Labels: model-metadata

#103 main
  model-output/CMU-TimeSeries/2024-11-30-CMU-TimeSeries.csv
Labels: data-submission

#112 Model preds UM-DeepOutbreak 11-30
  model-output/UM-DeepOutbreak/2024-11-30-UM-DeepOutbreak.csv
Labels: data-submission

#113 11/27 Mobs Covid Metadata
  .gitignore
  model-metadata/MOBS-GLEAM_COVID.yml
  model-output/MOBS-GLEAM_COVID/2024-11-30-MOBS-GLEAM_COVID.csv
Labels: model-metadata, data-submission
