Repository CDCgov/covid19-forecast-hub, pull requests merged in 2025-06, with the labels that each got.

#656 Add another designated user for Mobs model
  model-metadata/MOBS-GLEAM_COVID.yml
Labels: model-metadata

#660 INLA 2025-06-07
  model-output/UGA_flucast-INFLAenza/2025-06-07-UGA_flucast-INFLAenza.csv
Labels: data-submission

#661 Google_SAI submission for 2025-06-07
  model-output/Google_SAI-Ensemble/2025-06-07-Google_SAI-Ensemble.csv
Labels: data-submission

#662 2025-06-07-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-06-07-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#664 2025-06-07-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-06-07-OHT_JHU-nbxd.csv
Labels: data-submission

#665 CMU-TimeSeries 2025-06-04
  model-output/CMU-TimeSeries/2025-06-07-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-06-07-CMU-climate_baseline.csv
Labels: data-submission

#666 2025 06 07 u mass ar6 pooled
  model-output/UMass-ar6_pooled/2025-06-07-UMass-ar6_pooled.csv
Labels: data-submission

#667 2025 06 07 u mass gbqr
  model-output/UMass-gbqr/2025-06-07-UMass-gbqr.csv
Labels: data-submission

#670 CEPH_2025-06-07
  model-output/CEPH-Rtrend_covid/2025-06-07-CEPH-Rtrend_covid.csv
Labels: data-submission

#673 Target Data Formatted As Hubverse Time Series
  .github/workflows/update-target-data.yaml
  .gitignore
  .vscode/settings.json
  README.md
  src/get_baseline.R
  src/get_covid_hosp_data.R
  target-data/time-series.csv
Labels: documentation

#680 CMU-TimeSeries 2025-06-11
  model-output/CMU-TimeSeries/2025-06-14-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-06-14-CMU-climate_baseline.csv
Labels: data-submission

#682 2025-06-14-UMass-ar6_pooled
  model-output/UMass-ar6_pooled/2025-06-14-UMass-ar6_pooled.csv
Labels: data-submission

#683 2025-06-14-UMass-gbqr
  model-output/UMass-gbqr/2025-06-14-UMass-gbqr.csv
Labels: data-submission

#684 CEPH_2025-06-14
  model-output/CEPH-Rtrend_covid/2025-06-14-CEPH-Rtrend_covid.csv
Labels: data-submission

#691 Revise UT forecasts for HE, remove for HEW
  model-output/CFA_Pyrenew-PyrenewHEW_COVID/2025-06-14-CFA_Pyrenew-PyrenewHEW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HE_COVID/2025-06-14-CFA_Pyrenew-Pyrenew_HE_COVID.csv
Labels: data-submission

#713 update readmes
  README.md
  model-output/README.md
Labels: documentation

#727 2025-06-21-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-06-21-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#728 MOBS submission 6/21
  model-output/MOBS-GLEAM_COVID/2025-06-21-MOBS-GLEAM_COVID.csv
Labels: data-submission

#730 CEPH_2025-06-21
  model-output/CEPH-Rtrend_covid/2025-06-21-CEPH-Rtrend_covid.csv
Labels: data-submission

#736 INLA 2025-06-21
  model-output/UGA_flucast-INFLAenza/2025-06-21-UGA_flucast-INFLAenza.csv
Labels: data-submission

#738 CMU-TimeSeries 2025-06-18
  model-output/CMU-TimeSeries/2025-06-21-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-06-21-CMU-climate_baseline.csv
Labels: data-submission

#733 Submit PyRenew forecasts table for 2025-06-18
  model-output/CFA_Pyrenew-PyrenewHEW_COVID/2025-06-21-CFA_Pyrenew-PyrenewHEW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_E_COVID/2025-06-21-CFA_Pyrenew-Pyrenew_E_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HE_COVID/2025-06-21-CFA_Pyrenew-Pyrenew_HE_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HW_COVID/2025-06-21-CFA_Pyrenew-Pyrenew_HW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-06-21-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#753 2025-06-28-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-06-28-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#754 MOBS submission 6/28
  model-output/MOBS-GLEAM_COVID/2025-06-28-MOBS-GLEAM_COVID.csv
Labels: data-submission

#755 2025-06-28-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-06-28-OHT_JHU-nbxd.csv
Labels: data-submission

#757 2025-06-28-UMass-ar6_pooled
  model-output/UMass-ar6_pooled/2025-06-28-UMass-ar6_pooled.csv
Labels: data-submission

#758 2025-06-28-UMass-gbqr
  model-output/UMass-gbqr/2025-06-28-UMass-gbqr.csv
Labels: data-submission

#761 CMU-TimeSeries 2025-06-25
  model-output/CMU-TimeSeries/2025-06-28-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-06-28-CMU-climate_baseline.csv
Labels: data-submission
