Repository CDCgov/covid19-forecast-hub, pull requests merged in 2025-05, with the labels that each got.

#572 Model preds 05-03
  model-output/UM-DeepOutbreak/2025-05-03-UM-DeepOutbreak.csv
Labels: data-submission

#580 Submitting Google_SAI-Ensemble forecasts for 2025-05-10
  model-output/Google_SAI-Ensemble/2025-05-10-Google_SAI-Ensemble.csv
Labels: data-submission

#584 2025-05-10
  model-output/UGA_flucast-INFLAenza/2025-05-10-UGA_flucast-INFLAenza.csv
Labels: data-submission

#587 CMU-TimeSeries 2025-05-07
  model-output/CMU-TimeSeries/2025-05-10-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-05-10-CMU-climate_baseline.csv
Labels: data-submission

#585 2025 05 10 u mass ar6 pooled
  model-output/UMass-ar6_pooled/2025-05-10-UMass-ar6_pooled.csv
Labels: data-submission

#586 2025 05 10 u mass gbqr
  model-output/UMass-gbqr/2025-05-10-UMass-gbqr.csv
Labels: data-submission

#589 CEPH_2025-05-10
  model-output/CEPH-Rtrend_covid/2025-05-10-CEPH-Rtrend_covid.csv
Labels: data-submission

#588 2025-05-10-JHU_CSSE-CSSE_Ensemble Submission
  model-output/JHU_CSSE-CSSE_Ensemble/2025-05-10-JHU_CSSE-CSSE_Ensemble.csv
Labels: data-submission

#591 CFA Pyrenew Models COVID-19 Forecasts 2025-05-07
  model-output/CFA_Pyrenew-PyrenewHEW_COVID/2025-05-10-CFA_Pyrenew-PyrenewHEW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HE_COVID/2025-05-10-CFA_Pyrenew-Pyrenew_HE_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HW_COVID/2025-05-10-CFA_Pyrenew-Pyrenew_HW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-05-10-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#593 Mobs 5/7 submission
  model-output/MOBS-GLEAM_COVID/2025-05-10-MOBS-GLEAM_COVID.csv
Labels: data-submission

#602 add more reference dates to tasks.json
  .github/workflows/validate-config.yaml
  hub-config/tasks.json
Labels: configuration

#603 Update target end date as well
  hub-config/tasks.json
Labels: configuration

#601 CMU-TimeSeries 2025-05-14
  model-output/CMU-TimeSeries/2025-05-17-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-05-17-CMU-climate_baseline.csv
Labels: data-submission

#604 2025 05 17 u mass ar6 pooled
  model-output/UMass-ar6_pooled/2025-05-17-UMass-ar6_pooled.csv
Labels: data-submission

#605 2025 05 17 u mass gbqr
  model-output/UMass-gbqr/2025-05-17-UMass-gbqr.csv
Labels: data-submission

#606 2025-05-17-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-05-17-OHT_JHU-nbxd.csv
Labels: data-submission

#608 Submit PyRenew
  model-output/CFA_Pyrenew-PyrenewHEW_COVID/2025-05-17-CFA_Pyrenew-PyrenewHEW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HE_COVID/2025-05-17-CFA_Pyrenew-Pyrenew_HE_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HW_COVID/2025-05-17-CFA_Pyrenew-Pyrenew_HW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-05-17-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#609 5/14 Submission
  model-output/MOBS-GLEAM_COVID/2025-05-17-MOBS-GLEAM_COVID.csv
Labels: data-submission

#610 CEPH_2025-05-17
  model-output/CEPH-Rtrend_covid/2025-05-17-CEPH-Rtrend_covid.csv
Labels: data-submission

#611 Google_SAI 2025-05-14 Submission
  model-output/Google_SAI-Ensemble/2025-05-17-Google_SAI-Ensemble.csv
Labels: data-submission

#612 covid submission
  model-metadata/UM-DeepOutbreak.yml
  model-output/UM-DeepOutbreak/2025-05-17-UM-DeepOutbreak.csv
Labels: model-metadata, data-submission

#623 CEPH_2025-05-24
  model-output/CEPH-Rtrend_covid/2025-05-24-CEPH-Rtrend_covid.csv
Labels: data-submission

#624 2025 05 24 u mass ar6 pooled
  model-output/UMass-ar6_pooled/2025-05-24-UMass-ar6_pooled.csv
Labels: data-submission

#625 2025 05 24 u mass gbqr
  model-output/UMass-gbqr/2025-05-24-UMass-gbqr.csv
Labels: data-submission

#627 2025-05-24 forecast INLA
  model-output/UGA_flucast-INFLAenza/2025-05-24-UGA_flucast-INFLAenza.csv
Labels: data-submission

#630 Submit PyRenew forecasts table for 2025-05-21
  model-output/CFA_Pyrenew-PyrenewHEW_COVID/2025-05-24-CFA_Pyrenew-PyrenewHEW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HE_COVID/2025-05-24-CFA_Pyrenew-Pyrenew_HE_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HW_COVID/2025-05-24-CFA_Pyrenew-Pyrenew_HW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-05-24-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#633 CMU-TimeSeries 2025-05-21
  model-output/CMU-TimeSeries/2025-05-24-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-05-24-CMU-climate_baseline.csv
Labels: data-submission

#634 Google_SAI Submission 2025-05-24
  model-output/Google_SAI-Ensemble/2025-05-24-Google_SAI-Ensemble.csv
Labels: data-submission

#635 2025-05-24 Submission
  model-output/UM-DeepOutbreak/2025-05-24-UM-DeepOutbreak.csv
Labels: data-submission

#636 Mobs 5/21 submission
  model-output/MOBS-GLEAM_COVID/2025-05-24-MOBS-GLEAM_COVID.csv
Labels: data-submission

#641 2025-05-31 INLA forecast
  model-output/UGA_flucast-INFLAenza/2025-05-31-UGA_flucast-INFLAenza.csv
Labels: data-submission

#642 2025 05 31 u mass ar6 pooled
  model-output/UMass-ar6_pooled/2025-05-31-UMass-ar6_pooled.csv
Labels: data-submission

#643 2025 05 31 u mass gbqr
  model-output/UMass-gbqr/2025-05-31-UMass-gbqr.csv
Labels: data-submission

#644 Submission
  model-output/JHU_CSSE-CSSE_Ensemble/2025-05-31-JHU_CSSE-CSSE_Ensemble.csv
Labels: data-submission

#645 2025-05-31-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-05-31-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#647 Google_SAI Submission for 2025-05-31
  model-output/Google_SAI-Ensemble/2025-05-31-Google_SAI-Ensemble.csv
Labels: data-submission

#648 Submit PyRenew forecasts table for 2025-05-28
  model-output/CFA_Pyrenew-PyrenewHEW_COVID/2025-05-31-CFA_Pyrenew-PyrenewHEW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HE_COVID/2025-05-31-CFA_Pyrenew-Pyrenew_HE_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HW_COVID/2025-05-31-CFA_Pyrenew-Pyrenew_HW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-05-31-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#650 CEPH_2025-05-31
  model-output/CEPH-Rtrend_covid/2025-05-31-CEPH-Rtrend_covid.csv
Labels: data-submission

#652 Mobs 5/29 submission
  model-output/MOBS-GLEAM_COVID/2025-05-31-MOBS-GLEAM_COVID.csv
Labels: data-submission

#653 2025-05-31-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-05-31-OHT_JHU-nbxd.csv
Labels: data-submission
