Repository CDCgov/covid19-forecast-hub, pull requests merged in 2025-09, with the labels that each got.

#924 CMU-TimeSeries 2025-08-29
  model-output/CMU-TimeSeries/2025-08-30-CMU-TimeSeries.csv
Labels: data-submission

#932 Forecast for 09-06
  model-output/UGA_flucast-INFLAenza/2025-09-06-UGA_flucast-INFLAenza.csv
Labels: data-submission

#936 Submit EpiAutoGP for 2025-09-06
  model-output/CFA-EpiAutoGP/2025-09-06-CFA-EpiAutoGP.csv
Labels: data-submission

#937 CMU-TimeSeries 2025-09-03
  model-output/CMU-TimeSeries/2025-09-06-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-09-06-CMU-climate_baseline.csv
Labels: data-submission

#944 2025-09-13-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-09-13-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#946 CMU-TimeSeries 2025-09-10
  model-output/CMU-TimeSeries/2025-09-13-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-09-13-CMU-climate_baseline.csv
Labels: data-submission

#947 2025-09-13-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-09-13-OHT_JHU-nbxd.csv
Labels: data-submission

#945 CEPH_2025-09-13
  model-output/CEPH-Rtrend_covid/2025-09-13-CEPH-Rtrend_covid.csv
Labels: data-submission

#949 Submit cfa-EpiAutoGP
  model-output/CFA-EpiAutoGP/2025-09-13-CFA-EpiAutoGP.csv
Labels: data-submission

#954 CMU-TimeSeries NSSP 2025-09-12
  model-output/CMU-TimeSeries/2025-09-13-CMU-TimeSeries.csv
Labels: data-submission

#958 Submitting `CFA-EpiAutoGP` for reference date 2025-09-20
  model-output/CFA-EpiAutoGP/2025-09-20-CFA-EpiAutoGP.csv
Labels: data-submission

#959 2025-09-20-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-09-20-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#960 CEPH_2025-09-20
  model-output/CEPH-Rtrend_covid/2025-09-20-CEPH-Rtrend_covid.csv
Labels: data-submission

#962 CMU-TimeSeries NSSP 2025-09-17
  model-output/CMU-TimeSeries/2025-09-20-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-09-20-CMU-climate_baseline.csv
Labels: data-submission

#965 2025-09-20-UMass-ar6_pooled
  model-output/UMass-ar6_pooled/2025-09-20-UMass-ar6_pooled.csv
Labels: data-submission

#979 2025-09-27-UMass-ar6_pooled
  model-output/UMass-ar6_pooled/2025-09-27-UMass-ar6_pooled.csv
Labels: data-submission

#980 2025-09-27-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-09-27-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#983 INLA model 09-27-2025
  model-output/UGA_flucast-INFLAenza/2025-09-27-UGA_flucast-INFLAenza.csv
Labels: data-submission

#985 CMU-TimeSeries 2025-09-24
  model-output/CMU-TimeSeries/2025-09-27-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-09-27-CMU-climate_baseline.csv
Labels: data-submission

#986 2025-09-27-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-09-27-OHT_JHU-nbxd.csv
Labels: data-submission

#987 add epiautogp forecast for 2025-09-27
  model-output/CFA-EpiAutoGP/2025-09-27-CFA-EpiAutoGP.csv
Labels: data-submission

#996 Make Website URL Field Mandatory In Metadata
  hub-config/model-metadata-schema.json
  model-metadata/README.md
Labels: documentation, configuration

#1000 add clarification re NSSP data on data.cdc.gov and `latest.csv` in this repo
  README.md
  target-data/README.md
Labels: documentation
