Repository CDCgov/covid19-forecast-hub, pull requests merged in 2025-01, with the labels that each got.

#228 2025-01-04-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-01-04-OHT_JHU-nbxd.csv
Labels: data-submission

#229 Update covid forecasts 2025-01-01
  model-output/Metaculus-cp/2025-01-04-Metaculus-cp.csv
Labels: data-submission

#234 2025-01-04-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-01-04-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#235 2025-01-04-UMass
  model-output/UMass-ar6_pooled/2025-01-04-UMass-ar6_pooled.csv
  model-output/UMass-gbqr/2025-01-04-UMass-gbqr.csv
Labels: data-submission

#237 CEPH_2025-01-04
  model-output/CEPH-Rtrend_covid/2025-01-04-CEPH-Rtrend_covid.csv
Labels: data-submission

#238 2025-01-04-JHU_CSSE-CSSE_Ensemble_Submission
  model-output/JHU_CSSE-CSSE_Ensemble/2025-01-04-JHU_CSSE-CSSE_Ensemble.csv
Labels: data-submission

#240 CMU-TimeSeries
  model-output/CMU-TimeSeries/2025-01-04-CMU-TimeSeries.csv
Labels: data-submission

#241 Model preds 01-04
  model-output/UM-DeepOutbreak/2025-01-04-UM-DeepOutbreak.csv
Labels: data-submission

#244 change submission deadline back to Wednesday
  hub-config/tasks.json
Labels: configuration

#233 generate web texts
  .github/workflows/generate-forecast-visualization-data.yaml
  src/get_webtext.R
  weekly-summaries/2024-12-28/2024-12-28_webtext.md
Labels: documentation

#248 Update covid forecasts 2025-01-08
  model-output/Metaculus-cp/2025-01-11-Metaculus-cp.csv
Labels: data-submission

#250 2025-01-11-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-01-11-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#251 CEPH_2025-01-11
  model-output/CEPH-Rtrend_covid/2025-01-11-CEPH-Rtrend_covid.csv
Labels: data-submission

#253 2025-01-11-UMass
  model-output/UMass-ar6_pooled/2025-01-11-UMass-ar6_pooled.csv
  model-output/UMass-gbqr/2025-01-11-UMass-gbqr.csv
Labels: data-submission

#254 2025-01-11-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-01-11-OHT_JHU-nbxd.csv
Labels: data-submission

#255 Mobs 1/8 Submission
  model-output/MOBS-GLEAM_COVID/2025-01-11-MOBS-GLEAM_COVID.csv
Labels: data-submission

#256 Add model metadata for Pyrenew_H_COVID
  model-metadata/CFA_Pyrenew-Pyrenew_H_COVID.yaml
Labels: model-metadata

#257 CMU-TimeSeries
  model-output/CMU-TimeSeries/2025-01-11-CMU-TimeSeries.csv
Labels: data-submission

#258 Model preds 01-11
  model-output/UM-DeepOutbreak/2025-01-11-UM-DeepOutbreak.csv
Labels: data-submission

#259 Submit `Pyrenew_H_COVID`
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-01-11-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#273 Update covid forecasts 2025-01-15
  model-output/Metaculus-cp/2025-01-18-Metaculus-cp.csv
Labels: data-submission

#274 climatological baseline metadata
  model-metadata/CMU-climate_baseline.yml
Labels: model-metadata

#276 2025-01-18-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-01-18-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#271 update webtext to include list of jurisdictions reporting less than 80% hospital data
  src/get_webtext.R
  weekly-summaries/2025-01-11/2025-01-11_webtext.md
Labels: documentation

#280 MOBS 1/15 Submission
  model-output/MOBS-GLEAM_COVID/2025-01-18-MOBS-GLEAM_COVID.csv
Labels: data-submission

#282 2025-01-18-UMass
  model-output/UMass-ar6_pooled/2025-01-18-UMass-ar6_pooled.csv
  model-output/UMass-gbqr/2025-01-18-UMass-gbqr.csv
Labels: data-submission

#284 CEPH_2025-01-18
  model-output/CEPH-Rtrend_covid/2025-01-18-CEPH-Rtrend_covid.csv
Labels: data-submission

#285 2025-01-18-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-01-18-OHT_JHU-nbxd.csv
Labels: data-submission

#287 2025-01-18-JHU_CSSE-CSSE_Ensemble_Submission
  model-output/JHU_CSSE-CSSE_Ensemble/2025-01-18-JHU_CSSE-CSSE_Ensemble.csv
Labels: data-submission

#288 CMU-timeseries [2025-01-15]
  model-output/CMU-TimeSeries/2025-01-18-CMU-TimeSeries.csv
Labels: data-submission

#289 Model preds 01-18
  model-output/UM-DeepOutbreak/2025-01-18-UM-DeepOutbreak.csv
Labels: data-submission

#290 Submit `Pyrenew_H_COVID`
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-01-18-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#300 Organize file in the auxiliary-data and target-data dirs
  auxiliary-data/locations.csv
  auxiliary-data/locations_with_2023_census_pop.csv
  auxiliary-data/weekly-model-submissions/2024-11-23-models-submitted-to-hub.csv
  auxiliary-data/weekly-model-submissions/2024-11-30-models-submitted-to-hub.csv
  auxiliary-data/weekly-model-submissions/2024-12-07-models-submitted-to-hub.csv
  auxiliary-data/weekly-model-submissions/2024-12-14-models-submitted-to-hub.csv
  auxiliary-data/weekly-model-submissions/2024-12-21-models-submitted-to-hub.csv
  auxiliary-data/weekly-model-submissions/2024-12-28-models-submitted-to-hub.csv
  auxiliary-data/weekly-model-submissions/2025-01-04-models-submitted-to-hub.csv
  auxiliary-data/weekly-model-submissions/2025-01-11-models-submitted-to-hub.csv
  auxiliary-data/weekly-model-submissions/2025-01-18-models-submitted-to-hub.csv
  model-output/README.md
  src/get_covid_hosp_data.R
  src/get_ensemble.R
  src/get_map_data.R
  src/get_webtext.R
Labels: documentation

#306 remove weekly summary folder
  weekly-summaries/2024-11-23/2024-11-23_covid_forecasts_data.csv
  weekly-summaries/2024-11-23/2024-11-23_covid_map_data.csv
  weekly-summaries/2024-11-23/2024-11-23_covid_target_hospital_admissions_data.csv
  weekly-summaries/2024-11-30/2024-11-30_covid_forecasts_data.csv
  weekly-summaries/2024-11-30/2024-11-30_covid_map_data.csv
  weekly-summaries/2024-11-30/2024-11-30_covid_target_hospital_admissions_data.csv
  weekly-summaries/2024-12-07/2024-12-07_covid_forecasts_data.csv
  weekly-summaries/2024-12-07/2024-12-07_covid_map_data.csv
  weekly-summaries/2024-12-07/2024-12-07_covid_target_hospital_admissions_data.csv
  weekly-summaries/2024-12-14/2024-12-14_covid_forecasts_data.csv
  weekly-summaries/2024-12-14/2024-12-14_covid_map_data.csv
  weekly-summaries/2024-12-14/2024-12-14_covid_target_hospital_admissions_data.csv
  weekly-summaries/2024-12-21/2024-12-21_covid_forecasts_data.csv
  weekly-summaries/2024-12-21/2024-12-21_covid_map_data.csv
  weekly-summaries/2024-12-21/2024-12-21_covid_target_hospital_admissions_data.csv
  weekly-summaries/2024-12-28/2024-12-28_covid_forecasts_data.csv
  weekly-summaries/2024-12-28/2024-12-28_covid_map_data.csv
  weekly-summaries/2024-12-28/2024-12-28_covid_target_hospital_admissions_data.csv
  weekly-summaries/2024-12-28/2024-12-28_webtext.md
  weekly-summaries/2025-01-04/2025-01-04_covid_forecasts_data.csv
  weekly-summaries/2025-01-04/2025-01-04_covid_map_data.csv
  weekly-summaries/2025-01-04/2025-01-04_covid_target_hospital_admissions_data.csv
  weekly-summaries/2025-01-11/2025-01-11_covid_forecasts_data.csv
  weekly-summaries/2025-01-11/2025-01-11_covid_map_data.csv
  weekly-summaries/2025-01-11/2025-01-11_covid_target_hospital_admissions_data.csv
  weekly-summaries/2025-01-11/2025-01-11_webtext.md
  weekly-summaries/2025-01-18/2025-01-18_covid_forecasts_data.csv
  weekly-summaries/2025-01-18/2025-01-18_covid_map_data.csv
  weekly-summaries/2025-01-18/2025-01-18_covid_target_hospital_admissions_data.csv
  weekly-summaries/2025-01-18/2025-01-18_webtext.md
  weekly-summaries/README.md
Labels: documentation

#309 2025-01-25-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-01-25-OHT_JHU-nbxd.csv
Labels: data-submission

#310 Model preds 01-25
  model-output/UM-DeepOutbreak/2025-01-25-UM-DeepOutbreak.csv
Labels: data-submission

#315 Update covid forecasts 2025-01-29
  model-output/Metaculus-cp/2025-02-01-Metaculus-cp.csv
Labels: data-submission

#317 2025-02-01-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-02-01-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#320 2025-02-01-UMass-ar6_pooled
  model-output/UMass-ar6_pooled/2025-02-01-UMass-ar6_pooled.csv
Labels: data-submission

#319 2025-02-01-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-02-01-OHT_JHU-nbxd.csv
Labels: data-submission

#321 CEPH_2025-02-01
  model-output/CEPH-Rtrend_covid/2025-02-01-CEPH-Rtrend_covid.csv
Labels: data-submission

#318 Update UMass-ar6_pooled.yml
  model-metadata/UMass-ar6_pooled.yml
Labels: model-metadata

#324 2025-02-01-UMass-gbqr
  model-output/UMass-gbqr/2025-02-01-UMass-gbqr.csv
Labels: data-submission

#325 CMU both forecasts [2025-01-29]
  model-output/CMU-TimeSeries/2025-02-01-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-02-01-CMU-climate_baseline.csv
Labels: data-submission

#326 2025-02-01 Submission
  model-output/JHU_CSSE-CSSE_Ensemble/2025-02-01-JHU_CSSE-CSSE_Ensemble.csv
Labels: data-submission

#327 Submit Pyrenew_H_COVID
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-02-01-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#328 Model preds 02-01
  model-output/UM-DeepOutbreak/2025-02-01-UM-DeepOutbreak.csv
Labels: data-submission
