Repository CDCgov/covid19-forecast-hub, pull requests merged in 2025-03, with the labels that each got.

#390 Update covid forecasts 2025-03-05
  model-output/Metaculus-cp/2025-03-08-Metaculus-cp.csv
Labels: data-submission

#394 CMU-Delphi submission 2025-03-05
  model-output/CMU-TimeSeries/2025-03-08-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-03-08-CMU-climate_baseline.csv
Labels: data-submission

#392 INFLAenza model yml file
  model-metadata/UGA_flucast-INFLAenza.yml
  model-output/UGA_flucast-INFLAenza/2025-03-08-UGA_flucast-INFLAenza.csv
Labels: model-metadata, data-submission

#393 Delete model-output/CMU-TimeSeries/2025-02-01-CMU-TimeSeries.csv
  model-output/CMU-TimeSeries/2025-02-01-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-02-01-CMU-climate_baseline.csv
Labels: data-submission

#397 2025-03-08-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-03-08-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#399 2025-03-08-UMass-ar6_pooled
  model-output/UMass-ar6_pooled/2025-03-08-UMass-ar6_pooled.csv
Labels: data-submission

#401 Mobs 3/5 submission
  model-output/MOBS-GLEAM_COVID/2025-03-08-MOBS-GLEAM_COVID.csv
Labels: data-submission

#400 2025-03-08-UMass-gbqr
  model-output/UMass-gbqr/2025-03-08-UMass-gbqr.csv
Labels: data-submission

#402 CEPH_2025-03-08
  model-output/CEPH-Rtrend_covid/2025-03-08-CEPH-Rtrend_covid.csv
Labels: data-submission

#403 Update 3/5 Submission
  model-output/MOBS-GLEAM_COVID/2025-03-08-MOBS-GLEAM_COVID.csv
Labels: data-submission

#404 Model preds 03-08
  model-output/UM-DeepOutbreak/2025-03-08-UM-DeepOutbreak.csv
Labels: data-submission

#405 Submit Pyrenew_H_COVID
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-03-08-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#406 2025-03-08-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-03-08-OHT_JHU-nbxd.csv
Labels: data-submission

#407 Add model metadata and submit `Pyrenew_HE_COVID`
  model-metadata/CFA_Pyrenew-Pyrenew_HE_COVID.yaml
  model-output/CFA_Pyrenew-Pyrenew_HE_COVID/2025-03-08-CFA_Pyrenew-Pyrenew_HE_COVID.csv
Labels: model-metadata, data-submission

#414 Update covid forecasts 2025-03-12
  model-output/Metaculus-cp/2025-03-15-Metaculus-cp.csv
Labels: data-submission

#415 2025-03-15 INLA forecast
  model-output/UGA_flucast-INFLAenza/2025-03-15-UGA_flucast-INFLAenza.csv
Labels: data-submission

#416 CMU-TimeSeries 2025-03-12
  model-output/CMU-TimeSeries/2025-03-15-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-03-15-CMU-climate_baseline.csv
Labels: data-submission

#417 CEPH_2025-03-15
  model-output/CEPH-Rtrend_covid/2025-03-15-CEPH-Rtrend_covid.csv
Labels: data-submission

#419 2025-03-15-UMass-ar6_pooled
  model-output/UMass-ar6_pooled/2025-03-15-UMass-ar6_pooled.csv
Labels: data-submission

#418 2025-03-15-UMass-gbqr
  model-output/UMass-gbqr/2025-03-15-UMass-gbqr.csv
Labels: data-submission

#420 2025-03-15-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-03-15-OHT_JHU-nbxd.csv
Labels: data-submission

#422 Submission
  model-output/JHU_CSSE-CSSE_Ensemble/2025-03-15-JHU_CSSE-CSSE_Ensemble.csv
Labels: data-submission

#423 2025-03-15-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-03-15-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#424 Mobs 3/12 Submission
  model-output/MOBS-GLEAM_COVID/2025-03-15-MOBS-GLEAM_COVID.csv
Labels: data-submission

#425 Add model metadata for `Pyrenew_HW_COVID`
  model-metadata/CFA_Pyrenew-Pyrenew_HW_COVID.yaml
Labels: model-metadata

#427 Submit Pyrenew_H_COVID
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-03-15-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#428 Model preds 03-15
  model-output/UM-DeepOutbreak/2025-03-15-UM-DeepOutbreak.csv
Labels: data-submission

#429 Fix Pyrenew_H_Submission
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-03-15-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#430 Submit Pyrenew_HW_COVID
  model-output/CFA_Pyrenew-Pyrenew_HW_COVID/2025-03-15-CFA_Pyrenew-Pyrenew_HW_COVID.csv
Labels: data-submission

#431 Submit Pyrenew_HE_COVID
  model-output/CFA_Pyrenew-Pyrenew_HE_COVID/2025-03-15-CFA_Pyrenew-Pyrenew_HE_COVID.csv
Labels: data-submission

#443 Update covid forecasts 2025-03-19
  model-output/Metaculus-cp/2025-03-22-Metaculus-cp.csv
Labels: data-submission

#446 Submission
  model-output/JHU_CSSE-CSSE_Ensemble/2025-03-22-JHU_CSSE-CSSE_Ensemble.csv
Labels: data-submission

#447 CMU-TimeSeries 2025-03-19
  model-output/CMU-TimeSeries/2025-03-22-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-03-22-CMU-climate_baseline.csv
Labels: data-submission

#448 CEPH_2025-03-22
  model-output/CEPH-Rtrend_covid/2025-03-22-CEPH-Rtrend_covid.csv
Labels: data-submission

#444 2025-03-22 INLA forecast & 2025-03-15 INLA forecast
  model-output/UGA_flucast-INFLAenza/2025-03-22-UGA_flucast-INFLAenza.csv
Labels: data-submission

#454 2025-03-22-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-03-22-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#452 2025-03-22-UMass-ar6_pooled
  model-output/UMass-ar6_pooled/2025-03-22-UMass-ar6_pooled.csv
Labels: data-submission

#453 2025-03-22-UMass-gbqr
  model-output/UMass-gbqr/2025-03-22-UMass-gbqr.csv
Labels: data-submission

#455 Mobs 3/19 submission
  model-output/MOBS-GLEAM_COVID/2025-03-22-MOBS-GLEAM_COVID.csv
Labels: data-submission

#456 Submission from Google-SAI for 2025-03-22
  model-metadata/Google_SAI-Ensemble.yml
  model-output/Google_SAI-Ensemble/2025-03-22-Google_SAI-Ensemble.csv
Labels: model-metadata, data-submission

#458 Model preds 03-22
  model-output/UM-DeepOutbreak/2025-03-22-UM-DeepOutbreak.csv
Labels: data-submission

#459 Submit pyrenew models
  model-output/CFA_Pyrenew-Pyrenew_HE_COVID/2025-03-22-CFA_Pyrenew-Pyrenew_HE_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HW_COVID/2025-03-22-CFA_Pyrenew-Pyrenew_HW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-03-22-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#464 update metadata readme to add information about PPDL license
  model-metadata/README.md
Labels: documentation

#467 Update covid forecasts 2025-03-26
  model-output/Metaculus-cp/2025-03-29-Metaculus-cp.csv
Labels: data-submission

#468 2025-03-29
  model-output/UGA_flucast-INFLAenza/2025-03-29-UGA_flucast-INFLAenza.csv
Labels: data-submission

#469 2025-03-29-UMass-ar6_pooled
  model-output/UMass-ar6_pooled/2025-03-29-UMass-ar6_pooled.csv
Labels: data-submission

#470 2025-03-29-UMass-gbqr
  model-output/UMass-gbqr/2025-03-29-UMass-gbqr.csv
Labels: data-submission

#471 2025-03-29-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-03-29-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#473 Submission from Google-SAI for 2025-03-29
  model-output/Google_SAI-Ensemble/2025-03-29-Google_SAI-Ensemble.csv
Labels: data-submission

#475 Submission
  model-output/JHU_CSSE-CSSE_Ensemble/2025-03-29-JHU_CSSE-CSSE_Ensemble.csv
Labels: data-submission

#476 Submit PyRenew Models
  model-output/CFA_Pyrenew-Pyrenew_HE_COVID/2025-03-29-CFA_Pyrenew-Pyrenew_HE_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HW_COVID/2025-03-29-CFA_Pyrenew-Pyrenew_HW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-03-29-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#477 Mobs 3/26 submission
  model-output/MOBS-GLEAM_COVID/2025-03-29-MOBS-GLEAM_COVID.csv
Labels: data-submission

#478 2025-03-29-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-03-29-OHT_JHU-nbxd.csv
Labels: data-submission

#479 CEPH_2025-03-29
  model-output/CEPH-Rtrend_covid/2025-03-29-CEPH-Rtrend_covid.csv
Labels: data-submission

#480 Model preds 03-29
  model-output/UM-DeepOutbreak/2025-03-29-UM-DeepOutbreak.csv
Labels: data-submission

#449 add policy for corrections and late submissions
  model-output/README.md
Labels: documentation
