Repository CDCgov/covid19-forecast-hub, pull requests merged in 2025-08, with the labels that each got.

#852 2025-08-09-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-08-09-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#854 2025-08-09 INLA forecast
  model-output/UGA_flucast-INFLAenza/2025-08-09-UGA_flucast-INFLAenza.csv
Labels: data-submission

#857 Submit PyRenew forecasts table for 2025-08-06
  model-output/CFA_Pyrenew-PyrenewHEW_COVID/2025-08-09-CFA_Pyrenew-PyrenewHEW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_E_COVID/2025-08-09-CFA_Pyrenew-Pyrenew_E_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HE_COVID/2025-08-09-CFA_Pyrenew-Pyrenew_HE_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HW_COVID/2025-08-09-CFA_Pyrenew-Pyrenew_HW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-08-09-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#859 CMU-TimeSeries 2025-08-06
  model-output/CMU-TimeSeries/2025-08-09-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-08-09-CMU-climate_baseline.csv
Labels: data-submission

#867 2025-08-16-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-08-16-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#874 CMU-TimeSeries 2025-08-13
  model-output/CMU-TimeSeries/2025-08-16-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-08-16-CMU-climate_baseline.csv
Labels: data-submission

#875 Submit PyRenew forecasts table for 2025-08-13
  model-output/CFA_Pyrenew-PyrenewHEW_COVID/2025-08-16-CFA_Pyrenew-PyrenewHEW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_E_COVID/2025-08-16-CFA_Pyrenew-Pyrenew_E_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HE_COVID/2025-08-16-CFA_Pyrenew-Pyrenew_HE_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HW_COVID/2025-08-16-CFA_Pyrenew-Pyrenew_HW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-08-16-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#879 CEPH: Update broken link on metadata
  model-metadata/CEPH-Rtrend_covid.yml
Labels: model-metadata

#890 2025-08-23-NEU_ISI-AdaptiveEnsemble
  model-output/NEU_ISI-AdaptiveEnsemble/2025-08-23-NEU_ISI-AdaptiveEnsemble.csv
Labels: data-submission

#891 INLA Submit forecast 08-23-2025
  model-output/UGA_flucast-INFLAenza/2025-08-23-UGA_flucast-INFLAenza.csv
Labels: data-submission

#894 Submit PyRenew forecasts table for 2025-08-20
  model-output/CFA_Pyrenew-PyrenewHEW_COVID/2025-08-23-CFA_Pyrenew-PyrenewHEW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_E_COVID/2025-08-23-CFA_Pyrenew-Pyrenew_E_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HE_COVID/2025-08-23-CFA_Pyrenew-Pyrenew_HE_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HW_COVID/2025-08-23-CFA_Pyrenew-Pyrenew_HW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-08-23-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#896 CEPH_2025-08-23
  model-output/CEPH-Rtrend_covid/2025-08-23-CEPH-Rtrend_covid.csv
Labels: data-submission

#905 CEPH_2025-08-30
  model-output/CEPH-Rtrend_covid/2025-08-30-CEPH-Rtrend_covid.csv
Labels: data-submission

#909 2025-08-30-OHT_JHU-nbxd
  model-output/OHT_JHU-nbxd/2025-08-30-OHT_JHU-nbxd.csv
Labels: data-submission

#912 Add Sarah Martinson to designated github users for Google_SAI-Ensemble
  model-metadata/Google_SAI-Ensemble.yml
Labels: model-metadata

#913 Submit PyRenew forecasts table for 2025-08-27
  model-output/CFA_Pyrenew-PyrenewHEW_COVID/2025-08-30-CFA_Pyrenew-PyrenewHEW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_E_COVID/2025-08-30-CFA_Pyrenew-Pyrenew_E_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HE_COVID/2025-08-30-CFA_Pyrenew-Pyrenew_HE_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_HW_COVID/2025-08-30-CFA_Pyrenew-Pyrenew_HW_COVID.csv
  model-output/CFA_Pyrenew-Pyrenew_H_COVID/2025-08-30-CFA_Pyrenew-Pyrenew_H_COVID.csv
Labels: data-submission

#908 add baseline for just NHSN signal
  model-output/CovidHub-baseline/2025-08-30-CovidHub-baseline.csv
Labels: data-submission

#915 CMU-TimeSeries 2025-08-27
  model-output/CMU-TimeSeries/2025-08-30-CMU-TimeSeries.csv
  model-output/CMU-climate_baseline/2025-08-30-CMU-climate_baseline.csv
Labels: data-submission

#921 Add CDC Guidelines To README
  README.md
  code-of-conduct.md
  open_practices.md
  rules_of_behavior.md
Labels: documentation
